.App {
  /* text-align: center; */
  background-color: gray;
}

/*

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.GameContainer {
  background-color: pink;
  /* background-color: #000; */
  border: 3px solid red;
  width: 80%;
  /* position: relative; */
}

/* const CELL_SIZE = 20;
const WIDTH = 800;
const HEIGHT = 600; */

.center-text {
  text-align: center;
}

.center-block {
  margin: 0 auto;
}

.GameGrid {
  background-color: darkgray;
  /* position: absolute; */
  /* height: 800px; */
  height: 200px;
  /* width: 800px; */
  width: 80%;
  border: 3px solid blue;
  background-image: linear-gradient(#333 1px, transparent 1px), linear-gradient(90deg, #333 1px, transparent 1px);
  /* NOTE: background-image creates grid... */
  background-size: 20px 20px;
  /* NOTE: background-size is size of height and width of each cell... */
}

.ControlPanel {
  background-color: lightgreen;
  border: 3px solid green;
  width: 60%;
}

.rules {
  border: 3px solid blue;
  background-color: lightgray;
}
