.App {
  /* text-align: center; */
  background-color: gray;
}

.GameContainer {
  background-color: pink;
  /* background-color: #000; */
  border: 3px solid red;
  width: 80%;
  /* position: relative; */
}

/* const CELL_SIZE = 20;
const WIDTH = 800;
const HEIGHT = 600; */

.center-text {
  text-align: center;
}

.center-block {
  margin: 0 auto;
}

/* .GameGrid { */
  /* background-color: darkgray; */
  /* height: 100px; */
  /* width: 100px; */
  /* //NOTE: 100px by 100px with cells that are 20px by 20px will result in a row of 5 rows by t columns... */
  /* border: 1px solid blue; */
  /* background-image: linear-gradient(#333 1px, transparent 1px), linear-gradient(90deg, #333 1px, transparent 1px); */
  /* NOTE: background-image creates grid... */
  /* background-size: 20px 20px; */
  /* NOTE: background-size is size of height and width of each cell... */
/* } */

.Cell-Live {
  background-color: green;
}

.ControlPanel {
  background-color: lightgreen;
  border: 3px solid green;
  width: 60%;
}

.rules {
  border: 3px solid blue;
  background-color: lightgray;
}






/* NOTE: using CSS Grid to make grid... */
.grid-container {
  display: grid;
  /* grid-template-columns: auto auto auto; */
  /* grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  /* grid-template-columns: repeat(auto-fit); */
  background-color: #2196F3;
  padding: 20px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  /* font-size: 30px; */
  text-align: center;
}
/* NOTE: using CSS Grid to make grid... */

.green {
  background-color: green;
}
